.filter{

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    > div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        gap: 12px;

        & select{
            color: black;
            width: 155px;
            & option{
                color: black;
            }
        }
    }
}